In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://api.vitaldb.net/trks')
df.head()

   caseid         tname                                       tid
0       1       BIS/BIS  fd869e25ba82a66cc95b38ed47110bf4f14bb368
1       1  BIS/EEG1_WAV  0aa685df768489a18a5e9f53af0d83bf60890c73
2       1  BIS/EEG2_WAV  ad13b2c39b19193c8ae4a2de4f8315f18d61a57e
3       1       BIS/EMG  2525603efe18d982764dbca457affe7a45e766a9
4       1       BIS/SEF  1c91aec859304840dec75acf4a35da78be0e8ef0

In [3]:
df['tname'].value_counts().to_excel('./tmp.xlsx')

In [4]:
df['tname'].isin(['Solar8000/ART_SBP']).sum()

3725

In [5]:
df['tname'].isin(['Solar8000/NIBP_SBP']).sum()

5752

In [6]:
df.groupby('caseid')['tname'].isin(['Solar8000/ART_SBP', 'Solar8000/NIBP_SBP'])

AttributeError: 'SeriesGroupBy' object has no attribute 'isin'

In [7]:
art_set = set(df[df['tname'].isin(['Solar8000/ART_SBP'])]['caseid'])
nibp_set = set(df[df['tname'].isin(['Solar8000/NIBP_SBP'])]['caseid'])

In [8]:
len(art_set & nibp_set)

3096

In [9]:
(df['tname'].isin(['Solar8000/ART_SBP']) & df['tname'].isin(['Solar8000/NIBP_SBP'])).sum()

0

### SBP

In [10]:
print('ART_SBP : ', df['tname'].isin(['Solar8000/ART_SBP']).sum())
print('NIBP_SBP : ', df['tname'].isin(['Solar8000/NIBP_SBP']).sum())

ART_SBP :  3725
NIBP_SBP :  5752

* ART와 NIBP가 같이 있는 경우에는 다시 ART를 우선시해서

### MBP

In [11]:
print('ART_MBP : ', df['tname'].isin(['Solar8000/ART_SBP']).sum())
print('NIBP_MBP : ', df['tname'].isin(['Solar8000/NIBP_SBP']).sum())

ART_MBP :  3725
NIBP_MBP :  5752

### DBP

In [12]:
print('ART_DBP : ', df['tname'].isin(['Solar8000/ART_DBP']).sum())
print('NIBP_DBP : ', df['tname'].isin(['Solar8000/NIBP_DBP']).sum())

ART_DBP :  3725
NIBP_DBP :  5752

### HR

In [13]:
print('Solar8000/HR : ', df['tname'].isin(['Solar8000/HR']).sum())
print('Solar8000/PLETH_HR : ', df['tname'].isin(['Solar8000/PLETH_HR']).sum())
print('Vigilance/HR_AVG : ', df['tname'].isin(['Vigilance/HR_AVG']).sum())
print('CardioQ/HR : ', df['tname'].isin(['CardioQ/HR']).sum())

Solar8000/HR :  6388
Solar8000/PLETH_HR :  6387
Vigilance/HR_AVG :  53
CardioQ/HR :  29

### BT

In [14]:
print('Solar8000/BT1 : ', df['tname'].isin(['Solar8000/BT1']).sum())
print('Solar8000/BT2 : ', df['tname'].isin(['Solar8000/BT2']).sum())

Solar8000/BT1 :  5889
Solar8000/BT2 :  864

### SpO2

In [15]:
print('Solar8000/PLETH_SPO2: ', df['tname'].isin(['Solar8000/PLETH_SPO2']).sum())

Solar8000/PLETH_SPO2:  6387

### EtCO2

In [16]:
print('Solar8000/ETCO2: ', df['tname'].isin(['Solar8000/ETCO2']).sum())
print('Primus/ETCO2: ', df['tname'].isin(['Primus/ETCO2']).sum())

Solar8000/ETCO2:  6243
Primus/ETCO2:  6340

### FiO2

In [17]:
print('Solar8000/FIO2: ', df['tname'].isin(['Solar8000/FIO2']).sum())
print('Solar8000/VENT_SET_FIO2: ', df['tname'].isin(['Solar8000/VENT_SET_FIO2']).sum())
print('Primus/FIO2: ', df['tname'].isin(['Primus/FIO2']).sum())
print('Primus/SET_FIO2: ', df['tname'].isin(['Primus/SET_FIO2']).sum())

Solar8000/FIO2:  6240
Solar8000/VENT_SET_FIO2:  2213
Primus/FIO2:  6336
Primus/SET_FIO2:  0

### STII

In [18]:
print('Solar8000/ST_II: ', df['tname'].isin(['Solar8000/ST_II']).sum())

Solar8000/ST_II:  5979

## Get Data

In [19]:
from tqdm.notebook import tqdm

In [50]:
for i in tqdm(range(len(set(df['caseid'])))):
    tid = df[(df['caseid'] == i + 1) & df['tname'].isin(['Solar8000/HR'])]['tid'].values[0]
    tmp = pd.read_csv('https://api.vitaldb.net/' + tid)
    tmp.head()

HBox(children=(FloatProgress(value=0.0, max=6387.0), HTML(value='')))

KeyboardInterrupt:

In [54]:
df[df['tname'].isin(['Solar8000/BT1'])]

        caseid          tname                                       tid
55           1  Solar8000/BT1  b81866f01d4abb54194342168a360c56ab276f23
141          2  Solar8000/BT1  bc5313595a0e1b289a376a8a1eb864d7b972fb2d
230          3  Solar8000/BT1  33c7ab0ddbb917ee2fdc86760f02ccd5a167eab8
318          4  Solar8000/BT1  2a6feef2e328ac2f58932e2bb35c017f7b676ec0
411          5  Solar8000/BT1  71b2ad0d0e6bcdfdf09226e2b8a636edb1f70b57
...        ...            ...                                       ...
536738    6384  Solar8000/BT1  694c912f23ed66326ac5977b2124e12e2cccaf19
536821    6385  Solar8000/BT1  8431cda2d80c2d9741e5dea6594426b6bb28f4c0
536903    6386  Solar8000/BT1  966a33b8513ca71d78dceec9d9af897c55044565
536987    6387  Solar8000/BT1  47a2846cecc4115871ed7c5466a4c3bf5706d0d4
537072    6388  Solar8000/BT1  bf6fc41999d6940034c33965ab6c62d6188b33e6

[5889 rows x 3 columns]

In [43]:
df[df['tname'].isin(['Solar8000/BT1'])].groupby(['caseid']).apply()

In [12]:
def load_data(data, track_nm):
    tmp = pd.read_csv('https://api.vitaldb.net/' + data['tid'].values[0])
    return pd.DataFrame([tmp[track_nm].mean(), tmp[track_nm].std()])

In [121]:
tmp = pd.read_csv('https://api.vitaldb.net/' + 'b81866f01d4abb54194342168a360c56ab276f23')

tmp['Solar8000/BT1'].mean(), tmp['Solar8000/BT1'].std()

(32.99421875000063, 5.396058150527773)

In [8]:
from tqdm.notebook import tqdm
tqdm.pandas()
df[df['tname'].isin(['Solar8000/BT1'])].groupby(['caseid']).progress_apply(lambda x: load_data(x)).reset_index().rename(column)

/home/khl256/anaconda3/envs/deeplearning/lib/python3.7/site-packages/tqdm/std.py:668: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

HBox(children=(FloatProgress(value=0.0, max=5888.0), HTML(value='')))

       caseid  level_1          0
0           1        0  32.994219
1           1        1   5.396058
2           2        0  34.434379
3           2        1   3.684555
4           3        0  34.609503
...       ...      ...        ...
11771    6386        1   2.197893
11772    6387        0  35.089594
11773    6387        1   3.158114
11774    6388        0  35.330772
11775    6388        1   0.521066

[11776 rows x 3 columns]

In [13]:
df_bt = df[df['tname'].isin(['Solar8000/BT1'])].groupby(['caseid']).progress_apply(lambda x: load_data(data=x, track_nm='Solar8000/BT1')).reset_index().rename(columns={'level_1':'code', 0:'value'})
df_hr = df[df['tname'].isin(['Solar8000/HR'])].groupby(['caseid']).progress_apply(lambda x: load_data(data=x, track_nm='Solar8000/HR')).reset_index().rename(columns={'level_1':'code', 0:'value'})

HBox(children=(FloatProgress(value=0.0, max=99.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=99.0), HTML(value='')))

     caseid  code      value
0         1     0  77.192667
1         1     1  14.609980
2         2     0  81.298362
3         2     1  10.407441
4         3     0  75.994703
..      ...   ...        ...
193      97     1   7.298534
194      98     0  70.186727
195      98     1  10.332776
196      99     0  76.066966
197      99     1   7.283168

[198 rows x 3 columns]

In [18]:
track_list = [   
              ## HR
              'Solar8000/HR', 
              ## BT
              'Solar8000/BT1', 
              ## SPO2
              'Solar8000/PLETH_SPO2',
              ## FIO2
              'Solar8000/FIO2', 
              ## ST_II
              'Solar8000/ST_II', 
              ## ETCO2
              'Solar8000/ETCO2', 'Primus/ETCO2', 
              ## SBP
              'Solar8000/ART_SBP', 'Solar8000/NIBP_SBP',
              ## DBP
              'Solar8000/NIBP_DBP', 'Solar8000/ART_DBP',
              ## MBP
              'Solar8000/NIBP_MBP', 'Solar8000/ART_MBP'
             ]

In [17]:
len(tmp)

6387